*.VC.db
*.log
*.opensdf
*.sdf
*~
/*/Debug
/*/Release
/*/x64/Debug
/*/x64/Release
/.vs
/Debug
/Release
/fuzz/*/Debug
/fuzz/*/Release
/fuzz/*/x64/Debug
/fuzz/*/x64/Release
/providers/*/Debug
/providers/*/Release
/providers/*/x64/Debug
/providers/*/x64/Release
/tests/*/Debug
/tests/*/Release
/tests/*/x64/Debug
/tests/*/x64/Release
/x64/Debug
/x64/Release
